.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background-color: #423f3f;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 10px;
}

a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.users-button mat-icon {
  margin-right: 8px;
}