<mat-toolbar>
  <div>
    <a routerLink="">My App</a>
  </div>
  <span class="example-spacer"></span>
  <ul class="btn-list">
    <li class="users-link">
      <a
        mat-flat-button
        class="users-button"
        routerLink="/users"
        matTooltip="Открыть список пользователей"
      >
        <mat-icon
          aria-hidden="false"
          aria-label="Users icon"
          fontIcon="group"
        ></mat-icon>
        <span>Users</span>
      </a>
    </li>
  </ul>
</mat-toolbar>
